In [1]:
import pandas as pd

In [6]:
base = pd.read_parquet("data_cache_budget.parquet")

In [7]:
for coluna in list(base.columns):
    display(base[coluna].head(5))

0    Venda
1    Venda
2    Venda
3    Venda
4    Venda
Name: fl_tipo_registro, dtype: object

0    2025
1    2025
2    2025
3    2025
4    2025
Name: ano, dtype: int32

0    1
1    1
2    1
3    1
4    1
Name: mes, dtype: int64

0    ALEXANDRE BIRMAN
1    ALEXANDRE BIRMAN
2    ALEXANDRE BIRMAN
3    ALEXANDRE BIRMAN
4    ALEXANDRE BIRMAN
Name: marca, dtype: object

0    Lojas Próprias
1    Lojas Próprias
2    Lojas Próprias
3    Lojas Próprias
4    Lojas Próprias
Name: canal, dtype: object

0    101558
1    179182
2    302978
3    304050
4    304137
Name: cod_loja, dtype: object

0              Alexandre Birman IGT
1    Alexandre Birman Cidade Jardim
2           Alexandre Birman Leblon
3          Alexandre Birman IGT BSB
4         Alexandre Birman Curitiba
Name: loja, dtype: object

0    1.582275e+06
1    6.729353e+05
2    1.034450e+06
3    4.654911e+05
4    3.329209e+05
Name: receita_nf, dtype: float64

0    175808.349734
1    147717.500723
2    114938.850289
3     51721.233733
4     49746.804690
Name: desconto, dtype: float64

0    1.758083e+06
1    8.206528e+05
2    1.149389e+06
3    5.172123e+05
4    3.826677e+05
Name: pvl, dtype: float64

0   -0.10
1   -0.18
2   -0.10
3   -0.10
4   -0.13
Name: perc_desconto, dtype: float64

0              Alexandre Birman IGT
1    Alexandre Birman Cidade Jardim
2           Alexandre Birman Leblon
3          Alexandre Birman IGT BSB
4         Alexandre Birman Curitiba
Name: nome_ajustado, dtype: object

0    SSS
1    SSS
2    SSS
3    SSS
4    SSS
Name: Classificacao_apoio, dtype: object

0    1.582275e+06
1    6.729353e+05
2    1.034450e+06
3    4.654911e+05
4    3.329209e+05
Name: ROB_BUDGET, dtype: float64

0    1.758083e+06
1    8.206528e+05
2    1.149389e+06
3    5.172123e+05
4    3.826677e+05
Name: PVL_BUDGET, dtype: float64

In [16]:
import pandas as pd
import numpy as np
import random

# Número de linhas da base fictícia
n = 4000

# Listas de exemplo para as colunas categóricas
canais = ["Outlet", "Lojas Próprias", "Multimarcas"]
tipos_registro = ["Venda", "Troca"]
marcas = ["VANS", "ALEXANDRE BIRMAN", "ALME", "ANACAPRI", "AREZZO"]
classificacao_apoio = ["Outlet", "SSS", "Fechadas/Repassadas"]
estacoes = ["ATEMPORAIS", "VERÃO 2020", "INVERNO 2023", "VERÃO 2024", "OUTROS"]
colecoes = ["1T21 - CARRY OVER", "RESORT 2020", "ALME INV 2 + MÃES", "VERÃO 1", "OUTROS"]
temas = ["CARRY OVER 1T21", "RESORT 2020", "SLIDE", "LUME MINI", "OUTROS"]
lojas = ["OUT DUQUE DE CAXIAS", "SHOPPING IGUATEMI", "IGUATEMI FARIA LIMA", "SHOP CIDADE JARDIM", "JK IGUATEMI"]
sapatos = ["shoes", "sneakers", "sandals", "heels", "boots"]

# Criando dataframe fictício
df = pd.DataFrame({
    "canal": np.random.choice(canais, n),
    "fl_tipo_registro": np.random.choice(tipos_registro, n),
    "dia": np.random.randint(1, 31, n),
    "mes": np.random.randint(1, 13, n),
    "ano": np.random.choice([2025, 2023, 2024], n),
    "cd_venda_ticket": [str(random.randint(60000000, 99999999)) for _ in range(n)],
    "cd_venda": [str(random.randint(1000000000000, 1999999999999)) for _ in range(n)],
    "dt_faturamento": pd.to_datetime(np.random.choice(pd.date_range("2023-01-01", "2025-12-31"), n)),
    "SKU": [f"{random.randint(1000000000, 9999999999)}" for _ in range(n)],
    "marca": np.random.choice(marcas, n),
    "Canal_ajustado": np.random.choice(canais, n),
    "cod_loja_anterior": np.random.randint(100000, 400000, n),
    "cod_loja": np.random.randint(100000, 400000, n),
    "loja": np.random.choice(lojas, n),
    "nome_ajustado": [f"{random.choice(marcas)} {random.choice(lojas)}" for _ in range(n)],
    "Classificacao_apoio": np.random.choice(classificacao_apoio, n),
    "DS_ESTACAO": np.random.choice(estacoes, n),
    "DS_COLECAO": np.random.choice(colecoes, n),
    "DS_TEMA": np.random.choice(temas, n),
    "cd_colecao": [f"C{random.randint(10,99)}" for _ in range(n)],
    "cd_estacao": np.random.randint(100, 999, n),
    "cd_lancamento": np.random.choice(["001", "013", "025", None], n),
    "cd_tema": np.random.choice(["001", "002", "025", "OUTROS"], n),
    "link_imagem_produtos": [f"https://picsum.photos/300/300?random={i}" for i in range(n)],
    "receita_nf": np.round(np.random.uniform(100, 50000, n), 2),
    "desconto": np.round(np.random.uniform(0, 10000, n), 2),
    "pvl": np.round(np.random.uniform(100, 80000, n), 2),
    "volume": np.random.randint(1, 200, n),
    "preco_medio": np.round(np.random.uniform(50, 5000, n), 2),
    "pvl_medio": np.round(np.random.uniform(50, 5000, n), 2),
    "perc_desconto": np.round(np.random.uniform(-50, 50, n), 2),
    "as": np.zeros(n),
    "PVL_CY": np.round(np.random.uniform(0, 50000, n), 2),
    "ROB_LY": np.round(np.random.uniform(0, 50000, n), 2),
    "PVL_LY": np.round(np.random.uniform(0, 50000, n), 2),
    "ROB_YBL": np.round(np.random.uniform(0, 50000, n), 2),
    "PVL_YBL": np.round(np.random.uniform(0, 50000, n), 2),
})

# Salvar em parquet
df.to_parquet("base_ficticia.parquet", index=False)

print("Base fictícia salva como 'base_ficticia.parquet'")

Base fictícia salva como 'base_ficticia.parquet'

In [19]:
import pandas as pd
import numpy as np
import random

# Número de linhas
n = 4000

# Opções categóricas
marcas = ["ALEXANDRE BIRMAN", "AREZZO", "ANACAPRI", "VANS", "ALME"]
canais = ["Lojas Próprias", "Outlet", "Multimarcas"]
lojas = [
    "Alexandre Birman IGT",
    "Alexandre Birman Cidade Jardim",
    "Alexandre Birman Leblon",
    "Alexandre Birman IGT BSB",
    "Alexandre Birman Curitiba",
    "Arezzo Iguatemi SP",
    "Anacapri JK Iguatemi",
    "Vans Out Premium RJ"
]

# Criando DataFrame fictício
df = pd.DataFrame({
    "fl_tipo_registro": ["Venda"] * n,
    "ano": [2025] * n,
    "mes": [random.randint(1, 12) for _ in range(n)],
    "marca": np.random.choice(marcas, n),
    "canal": np.random.choice(canais, n),
    "cod_loja": np.random.randint(100000, 400000, n),
    "loja": np.random.choice(lojas, n),
    "receita_nf": np.round(np.random.uniform(50, 50000, n), 2),
    "desconto": np.round(np.random.uniform(10000, 300000, n), 2),
    "pvl": np.round(np.random.uniform(100, 60000, n), 2),
    "perc_desconto": np.round(np.random.uniform(-0.05, 0.1, n), 2),  # -30% até +10%
    "nome_ajustado": np.random.choice(lojas, n),
    "Classificacao_apoio": ["SSS"] * n,
    "ROB_BUDGET": np.round(np.random.uniform(100000, 2000000, n), 2),
    "PVL_BUDGET": np.round(np.random.uniform(100000, 2500000, n), 2),
})

# Salvar em parquet
df.to_parquet("base_ficticia_budget.parquet", index=False)

print("Base fictícia v2 salva como 'base_ficticia_v2.parquet'")

Base fictícia v2 salva como 'base_ficticia_v2.parquet'